body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "kriuk";
  src: url("../../public/Fonts/kriuk.woff") format("woff");
}
@font-face {
  font-family: "WC Mano Negra Bta";
  src: url("../../public/Fonts/ManoNegra.ttf") format("truetype");
}

@font-face {
  font-family: "Herkules";
  src: url("../../public/Fonts/Herkules.ttf") format("truetype");
}
